<launch>
<arg name="action_call" default="'{header: {seq: 0, stamp: { secs: 0, nsecs: 0}, frame_id: ''}, goal_id: { stamp: { secs: 0, nsecs: 0},id: ''}, goal: {request: 'stack'}}'" />
<node pkg="rostopic" type="rostopic" name="stack_action_call" output="screen" args="pub /box_stack_act/goal diamond_age_challenge/BoxStackerServerActionGoal $(arg action_call)" />
</launch>